<div class="card-body">
    <div *ngFor="let item of listaCarrito">
        <img src="http://localhost:3000/static/{{ item.imagen }}" alt="{{item.nombre}}">
        <p class="card-text fw-bold">Producto: <span class="fw-normal">{{item.nombre}}</span></p>
        <p class="card-text fw-bold">Descripción: <span class="fw-normal">{{item.descripcion}}</span></p>
        <p class="card-text">Precio: <span class="fw-bold ps-5">{{item.precio}}</span></p>
        <hr class="my-3" />
        <button class="btn btn-danger" (click)="this.eliminarDelCarrito(item)">Eliminar producto</button>
    </div>
</div>
<p>Monto Total: <span class="ps-5">{{this.obtenerMonto()}}</span></p>

<button class="btn btn-danger" (click)="this.varciarCarrito()">Vaciar carrito</button>