<div class="container py-5">

    <div *ngFor="let prod of listaCarrito" class="card text-bg-dark mb-3" style="width: 100%">
        <div class="row g-0">
            <div class="col-md-6">
                <img class="img-fluid" src="http://localhost:3000/static/{{ prod.imagen }}" alt="Product image">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ prod.nombre }}</h5>
                    <p class="card-text">{{ prod.descripcion }}</p>
                    <p class="card-text"><b>Precio:</b> ${{ prod.precio }}</p>
                    <hr class="my-3" />
                    <button [disabled]="this.obtenerCantidadElementos() === 1" class="btn btn-danger"
                        (click)="this.eliminarDelCarrito(prod)"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end">
        <h5 class="my-3">Monto Total: <span class="ps-5">${{this.obtenerMonto()}}</span></h5>
        <button class="btn btn-danger px-5" (click)="this.varciarCarrito()">Vaciar carrito</button>
        <a routerLink="/crearPedido" class="btn btn-primary">Seguir comprando</a>
        <a routerLink="/pagar" class="btn btn-success">Pagar</a>
    </div>
</div>