<section>
    <div id="banner" class="d-flex justify-content-center">
        <img src="./assets/img/bannerganccic222.png" class="img-fluid" alt="bannerganccic">
        <div id="bannerTitulo">
            <h1>GANIC</h1>
        </div>
        <div id="bannerSubTitulo">
            <h2>Tu Sandwich a medida</h2>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row py-5">
            <div class="text-center">
                <h4 class="pt-5 pb-3">Comenzá a prepararlo <span class="text-success">YA</span> !</h4>
                <a routerLink="/crearPedido" class="btn btn-success rounded-pill px-5">CREAR PEDIDO</a>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="row my-5 py-5">
                <div class="col-6">
                    <app-slider></app-slider>
                </div>
                <div class="col-6">
                    <h3 class="text-center mt-4">NUESTRO MENÚ</h3>
                    <hr/>
                    <p class="text-center mt-4 p-5">
                        Nuestro menú ofrece variedad de sandiwchs caseros de estilo gourmet, llenos de sabor preparados con
                        ingredientes frescos y naturales, satisfaciendo hasta los más exigentes paladares. Ofrecemos un servicio de
                        sandiwchs gourmet manteniendo la calidad tanto en nuestros locales como en eventos masivos.
                    </p>
                </div>
            </div>
        </div>
</section>