<div class="card text-bg-dark mb-3" style="width: 100%">
  <div class="row g-0">
    <div class="col-md-6">
      <img class="img-fluid" src="http://localhost:3000/static/{{ prod.imagen }}" alt="Product image">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ prod.nombre }}</h5>
        <p class="card-text">{{ prod.descripcion }}</p>
        <p class="card-text"><b>Precio:</b> ${{ prod.precio }}</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button (click)="eliminarDelCarrito(prod)" [disabled]="this.obtenerCarro() == 0"
            class="btn btn-danger px-3 my-3" type="button">
            <i class="bi bi-trash"></i>
          </button>

          <button (click)="agregarSandwitchAlCarrito()" class="btn btn-success px-3 my-3" type="button">
            <i class="bi bi-bag-plus"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>