<div class="container">
    <div id="loginbox">
        <div class="row justify-content-center">
            <div class="col-6 my-5" style="background-color: #030303; padding: 46px;">
                <form [formGroup]="form" (ngSubmit)="enviarEmail()">
                    <h3>Ingrese email de usuario</h3>
                    <hr class="mb-4">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="bi bi-person-circle"
                            [class.green-icon]="this.form.get('email')?.valid"
                            [class.red-icon]="this.form.get('email')?.invalid && this.form.get('email')?.touched"></i>
                        </span>
                        <input formControlName="email" type="text" class="form-control" placeholder="Ingrese email"/>
                    </div>
                    <div class="d-grid">
                        <button [disabled]="this.form.invalid" class="btn btn-success mt-3 mb-4"
                            type="Submit">Restablecer</button>
                        <a routerLink="/home" class="btn btn-primary">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
